<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor"/>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" filePath="EnterpriseLibrary.config"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <runtime>
    <generatePublisherEvidence enabled="false"/>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Library;Modules"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <clear/>
    <add key="Language" value="zh-TW"/>
    <!--多语言：国际编码代号，简体为zh-CN-->
    <add key="Login" value="Password"/>
    <!--可选值：SSO或Password（无修改密码）或ChangePassword（有修改密码）或者LDAP（使用LDAP验证）-->
    <add key="SSORetrySeconds" value="10"/>
    <!--SSO驗證間隔時間-->
    <add key="HasAuthRole" value="True"/>
    <!--有没有角色/权限功能：True代表有，False代表没有-->
    <add key="GuyWire" value="Luna.WPF.GuyWire.WpfGuyWire, Luna.WPF.GuyWire"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="updateURL" value="http://192.168.90.204:808"/>
    <add key="SchemaUpdate" value="false"/>
    <!--数据库架构更新，默认不自动更新，True开启更新（警告，切记仅在需要更新时才设置为True）-->
    <add key="EnableProfiler" value="false"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Server=192.168.90.202;Initial Catalog=KS_POC;uid=sa;pwd=dtsc1234"/>
  </connectionStrings>
  <castle>
    <components>
      <component id="model" service="Luna.Shifts.Domain.Model.ILaborHoursCountingModel, Luna.Shifts.Domain" type="Luna.Shifts.Domain.Impl.LaborHoursCountingModel,Luna.Shifts.Domain.Impl" lifeStyle="transient"/>
    </components>
  </castle>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
